/*header*/
header,.col .card, footer{
    background-color: #c9c9c9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header em{
    color:rgb(70, 33, 238);
}
header h1{
    font-size: 5rem;
    
}




/* Carrusel */
/* Contenedor principal que alinea el contenido a la izquierda y el carrusel a la derecha */
/* Contenedor principal con contenido a la izquierda y carrusel a la derecha */
.contenedor-flex {
    
    display: flex;
    justify-content: space-between; /* Separa el contenido del carrusel */
    align-items: flex-start; /* Alinea el contenido arriba */
    gap: 20px; /* Espaciado entre contenido y carrusel */
    padding: 20px;
}

/* Sección de contenido (izquierda) */
.contenedor-flex .contenido {

    width: 65%; /* Ajusta el ancho */
}

/* Carrusel (derecha) */
.contenedor-flex .carousel-container {
    
    width: 30%; /* Ajusta el ancho */
    max-width: 400px;
}



/*main*/
.container {
    margin: 0;
    padding: 0;
    
}

h2{
    margin-left: 20px;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Asegura que todas tengan la misma altura */
}

.card aside img {
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
    height: 400px; 
    object-fit: cover;     
}

.card .body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



section {
    padding:20px;
    float: left; 
    width: 70%; 
    font-size:18px ;
    line-height: 1.50;
}
/*footer*/
footer{
    margin-bottom: 0;
}
footer .text-body-secondary{
    margin-left: 30%;
}


