/*header*/
header,.col .card, footer{
    background-color: #c9c9c9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header em{
    color:rgb(70, 33, 238);
}
header h1{
    font-size: 5rem;
    
}




/* Carrusel */
/* Contenedor principal que alinea el contenido a la izquierda y el carrusel a la derecha */
.principal {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta a la pantalla completa */
    padding: 20px;
}

/* Sección de contenido (izquierda) */
.contenido {
    width: 60%; /* Ajusta el ancho del contenido */
}

/* Carrusel (derecha) */
.carousel-container {
    width: 35%; /* Ajusta el ancho del carrusel */
    max-width: 400px;
    padding-right: 20px; /* Espaciado del lado derecho */
}


/*main*/
.container {
    margin: 0;
    padding: 0;
    
}

h2{
    margin-left: 20px;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Asegura que todas tengan la misma altura */
}

.card aside img {
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
    height: 400px; 
    object-fit: cover;     
}

.card .body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



section {
    padding:20px;
    float: left; 
    width: 70%; 
    font-size:18px ;
    line-height: 1.50;
}
/*footer*/
footer{
    margin-bottom: 0;
}
footer .text-body-secondary{
    margin-left: 45%;
}


