/* Reset global de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del body */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Cabecera */
/*header*/
header,.col .card, footer{
    background-color: #c9c9c9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header em{
    color:rgb(70, 33, 238);
}
header h1{
    font-size: 5rem;
    
}
/* Carrusel */
.carousel-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    width: 100%;
    transition: transform 1s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: white;
    width: 20px;
    height: 20px;
}

/*map*/
#map {
    height: 500px; /* Ajusta la altura del mapa */
    width: 100%;
    border-radius: 10px; /* Bordes redondeados opcionales */
}
/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
    }

    header .enlaces {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    header .enlaces a {
        margin: 10px;
    }

    .carousel-container {
        max-width: 100%;
        margin-top: 20px;
    }

    .about-us {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .carousel-container {
        max-width: 100%;
    }

    footer h5 {
        font-size: 1em;
    }
}
footer{
    margin-bottom: 0;
}
footer .text-body-secondary{
    margin-left: 45%;
}

            