/*header*/
header{
    background-color: rgb(124, 150, 219);
    
}
.logo{
    margin-left: 100px;
    padding: 40px;
    width: 200px;
    height: 80px;
}

header .enlaces{
    color: black;
    font-size: larger;
    margin-top: 60px;
    padding: 0;
    float: right;
    
}

.b,.c,.d{
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(106, 126, 245);
    color: black;
    
}

/*main*/

.col{
    padding: 30px;
}

* {
    margin: 0;
    padding: 0;
    
}

h1{
    padding: 20px;
    width: 20ppx;
}

main {
    
    max-width: 800px; /* Ancho máximo del bloque */
    margin-left: 30%;
    margin-top: 60px;
    
}
.card {
    display: flex;
    background: #dfe2f8;
    flex-direction: row;
    gap:20px;
}

aside {
    width: 30%; /* Ajusta el ancho de la imagen */
  
}

aside img {
    padding: 20px;
    width: 100%; /* Hace que la imagen ocupe el ancho del aside */
    border-radius: 8px; /* Bordes redondeados (opcional) */
}

section {
    padding:20px;
    float: left; /* Mantiene el texto alineado al lado de la imagen */
    width: 70%; /* Ajusta el ancho del texto */
    font-size:18px ;
    line-height: 1.50;
}
/*footer*/
footer {
    background-color: rgb(124, 150, 219);
    justify-content: center;
}

/*botton*/

.redondo {
    background-color: #ffffff5b; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado dentro del botón */
    font-size: 16px; /* Tamaño de la fuente */
    border: none; /* Sin borde */
    border-radius: 0%; /* Haciendo los bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Animación para el cambio de color */
  }